h2{
text-align: center;
position: fixed;
top: 10%;
left: 0;
right: 0;
}

h4{
position:fixed;
top:33%;
left:13%;
}

#usernameinput{
width:75%;
position:fixed;
top:41%;
left:12.5%;
}
#Button{
width:70% !important;
left: 15%;
position:fixed;
top:54%;
}

#Bild{
width:300px;
height:300px;
}

#Bilddiv{
position:fixed;
top: 65%;
left:38%;
}