h2{
text-align: center;
position: fixed;
top: 10%;
left: 0;
right: 0;
}

/*
#ServerButton {
position: fixed !important;
top: 80% !important;
left: 0;
right: 0;
}

hmtl{
background-color:blue;
}

#content{
text-align:center;
position: fixed;
top: 20%;
left: 0;
right: 0;}*/
#usernameinput{
width:80%;
position:fixed;
top:25%;
left:10%;
}
#Button{
width:65% !important;
left: 17.5%;
position:fixed;
top:35%;
}